@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true"/>

<div class="text-center">
    <h1 class="display-4">Vad söker du idag?</h1>
    <form class="search-form">
        <div id="search-bar">
            <input
                   type="text"
                   placeholder="Sök efter böcker eller utrustning..."/>
            <button type="submit">Sök</button>
        </div>
    </form>
</div>
