@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true"/>

<div class="text-center">
    <h1 class="display-4">Vad söker du idag?</h1>
    <a class="btn btn-primary btn-lg mt-4" asp-controller="Catalog" asp-action="Index">
        Katalog
    </a>
</div>
