body {
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 2em;
    text-align: center;
    color: white;
}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: fit-content;
    height: fit-content;
    background: blue;
    border-radius: 20px;
    padding: 50px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
table {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input {
    font-size: 1.5em;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
td{
    display: flex;
    flex-direction: column;
    align-items: center;
}
tbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: fit-content;
    gap: 10px;
}
