.display-4 {
    margin: 0px;
}
body {
    background: linear-gradient(to bottom right, #F5F7FA, #E3ECF5);
    min-height: 100vh;
}
.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-bar {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#search-bar input {
    width: 600px;
    height: fit-content;
    border-radius: 25px;
    border: 1px solid black;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1.5rem;
}
#search-bar button {
    width: fit-content;
    border-radius: 25px;
    border: 1px solid black;
    padding: 0.5rem 2rem 0.5rem 2rem;
    font-size: 1.2rem;
}