

<a  asp-controller="Admin" asp-action="SignOutUser">Log out</a>

@*<div>
    <p><strong>Användarnamn: </strong>@Model.Username</p>
    <p><strong>Förnamn: </strong>@Model.FirstName</p>
    <p><strong>Efternamn: </strong>@Model.LastName</p>
    <p><strong>Email: </strong>@Model.Email</p>
</div>*@